// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// レイヤー番号の定義（間違い防止のため名前で管理）

#define BASE_EN 0
#define BASE_JP 1
#define FUNC    2
#define NUM_EN  3
#define NUM_JP  4
#define ARROW   5
#define MOUSE   6
#define SCROLL  7
#define SYSTEM  8
#define GAME    9

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        // タップ時にレイヤー0(英語)をベースにするマクロ

        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to BASE_EN &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        // 【必須】タップ時にレイヤー1(日本語)をベースにするマクロ
        // これがないと日本語使用中に変換キー等を連打した際、英語配列に戻ってしまいます

        to_layer_1: to_layer_1 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to BASE_JP &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_1";
        };

        // タップ時にレイヤー0(英語)をベースにするマクロ

        to_layer_9: to_layer_9 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to GAME &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_9";
        };

        // 英語プロファイルへ切り替え (Layer 0へ & BT変更)

        to_prof0: to_prof0_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE_EN &bt BT_SEL 0>;
        };

        to_prof1: to_prof1_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE_EN &bt BT_SEL 1>;
        };

        to_prof2: to_prof2_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE_EN &bt BT_SEL 2>;
        };

        to_prof3: to_prof3_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE_EN &bt BT_SEL 3>;
        };

        // 日本語プロファイルへ切り替え (Layer 1へ & BT変更)

        to_prof4: to_prof4_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE_JP &bt BT_SEL 4>;
        };
    };

    behaviors {
        // ホールドで指定レイヤー、タップでレイヤー0(英語)に戻りつつキー入力

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // ホールドで指定レイヤー、タップでレイヤー1(日本語)に戻りつつキー入力

        lt_to_layer_1: lt_to_layer_1 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_1";
            bindings = <&mo>, <&to_layer_1>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: Default (English) */

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                             &kp T                                                           &kp Y        &kp U  &lt 7 I    &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                             &kp G        &mkp LCLK                          &kp UNDERSCORE  &kp H        &kp J  &kp K      &kp L    &kp MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                             &kp B        &mkp RCLK                          &kp COLON       &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT EQUAL
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 SYSTEM INT_HENKAN  &lt 3 SPACE  &lt_to_layer_0 5 INT_MUHENKAN      &kp BACKSPACE   &lt 2 ENTER                             &kp DEL
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        /* Layer 1: Default (Japanese) - Activated by to_prof4 */

        default_layer_jp {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                             &kp T                                                              &kp Y        &kp U  &lt 7 I    &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                             &kp G        &mkp LCLK                          &kp JP_UNDERSCORE  &kp H        &kp J  &kp K      &kp L    &kp MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                             &kp B        &mkp RCLK                          &kp JP_COLON       &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT JP_EQUAL
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_1 SYSTEM INT_HENKAN  &lt 4 SPACE  &lt_to_layer_1 5 INT_MUHENKAN      &kp BACKSPACE      &lt 2 ENTER                             &kp DEL
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        /* Layer 2: FUNCTION */

        FUNCTION {
            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4                       &kp PLUS      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans      &trans  &kp MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans      &trans  &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
&trans  &trans  &trans   &trans   &trans   &trans      &trans  &trans                                                  &trans
            >;
        };

        /* Layer 3: NUM (English) */

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                     &kp CARET          &kp AMPERSAND         &kp TILDE              &kp EXCLAMATION  &kp AT_SIGN
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp UNDERSCORE    &kp SINGLE_QUOTE   &kp DOUBLE_QUOTES     &kp HASH               &kp DOLLAR       &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE   &kp RIGHT_BRACE
&trans                      &trans           &trans           &trans           &trans        &trans                       &trans            &trans                                                                           &kp PIPE
            >;
        };

        /* Layer 4: NUM_jp (Japanese) */

        NUM_jp {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp JP_PLUS                                                      &kp JP_CARET     &kp JP_AMPERSAND  &kp JP_TILDE   &kp EXCLAMATION  &kp JP_AT
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp JP_ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp JP_UNDERSCORE  &kp JP_QUOTE     &kp JP_DQUOTE     &kp HASH       &kp DOLLAR       &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD       &kp JP_EQUAL                 &kp JP_LBRACKET    &kp JP_RBRACKET  &kp JP_LPAREN     &kp JP_RPAREN  &kp JP_LBRACE    &kp JP_RBRACE
&trans                      &trans           &trans           &trans           &trans           &trans                       &trans             &trans                                                             &kp JP_PIPE
            >;
        };

        /* Layer 5: ARROW */

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LEFT_ALT             &kp TAB                      &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_DOWN) LC(PAGE_UP)>;
        };

        /* Layer 6: MOUSE */

        MOUSE {
            bindings = <
&trans    &trans     &trans     &trans     &trans                           &trans    &trans     &trans     &trans     &trans
&mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5  &mkp LCLK      &trans  &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5
&trans    &trans     &trans     &trans     &trans    &mkp RCLK      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans    &trans         &trans  &trans                                     &trans
            >;
        };

        /* Layer 7: SCROLL */

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        /* Layer 8: System / BT */

        system_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                              &to_prof0  &to_prof1  &to_prof2  &to_prof3  &to_prof4
&trans  &trans  &trans  &trans  &trans  &trans      &studio_unlock  &trans     &trans     &trans     &trans     &to_layer_9 A
&trans  &trans  &trans  &trans  &trans  &trans      &bootloader     &trans     &trans     &trans     &trans     &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans      &trans          &trans                                      &bt BT_CLR_ALL
            >;
        };

        layer_9 {
            bindings = <
&kp ESC         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp Z                                    &trans        &trans  &trans         &trans  &trans
&kp TAB         &kp Q         &kp W         &kp E         &kp R  &kp X               &trans        &trans        &trans  &trans         &trans  &trans
&kp LEFT_SHIFT  &kp A         &kp C         &kp V         &kp G  &kp LEFT_SHIFT      &kp LEFT_ALT  &kp TAB       &trans  &to_layer_0 A  &trans  &trans
&kp LCTRL       &kp T         &kp LEFT_ALT  &kp SPACE     &kp D  &kp F               &trans        &kp LG(DOWN)                                 &trans
            >;
        };
    };
};
